
    <h1>Welcome to about my page</h1>
    <p>Hallo! perkenalkan nama saya Damarjati Prabhangkara, umur saya 22 tahun. Saya lahir di Sukabumi tanggal 5 januari tahun 2002.
        Keluarga ku biasa memanggil saya jati sedangkan teman-teman ku biasa memanggil damar. Saya merupakan anak pertama dari 2 bersaudara,
        saya mempunyai 1 adik laki-laki, alhamdulillah keluarga ku masih utuh ber anggota kan 4 orang. Saya full bersekolah sd, smp, dan sma di
        kota Sukabumi. Hobby saya adalah bermain basket dan bermain game console seperti <i>Playsatation</i> atau <i>Xbox</i>, cita-cita saya adalah
        bekerja menjadi seorang IT di kota <i>New York</i>, ya saya suka sekali dengan kota <i>New York</i> sehingga saya ingin sekali tinggal disana 
        dan sukses disana, aamiin! sekian perkenalan dari saya!
    </p>

    <h2>This is New York.</h2>

    <img src="NewYorkCity.jpg"; width="60%">

