<h1>Contact Detail</h1>
    <ul>
        <li>Name: <%= contact.name %></li>
        <li>Number: <%= contact.number %></li>
        <li>Email: <%= contact.email %></li>
    </ul>
    <a href="/contact">Back to Contacts</a>