
<div class="container">
    <h1>Add New Contact</h1>
<ul>
    <% if (errorMessage) { %>
        <% errorMessage.forEach(element => { %>
            <li>
            <%= element %>
            </li>
        <% }) %>
    <% } %>
</ul>
    <form action="/add" method="POST">
        
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label><br>
            <input type="text" class="form-control" value="<%= data.name %>" id="name" name="name" required><br><br>
        </div>

        <div class="mb-3">
            <label for="mobile" class="form-label">Mobile:</label><br>
            <input type="text" class="form-control" value="<%= data.mobile %>" id="mobile" name="mobile" required><br><br>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label><br>
            <input type="email" class="form-control" value="<%= data.email %>" id="email" name="email" ><br><br>
        </div>
        
        <button type="submit" class="btn btn-primary">Add Contact</button>
    </form>
    <form action="/contact" method="get"><br>
        <button type="submit" class="btn btn-primary">Back to Contact</button>
    </form>
</div>
