    <style>
        h1 {
            text-align: center;
            color: black;
            font-weight: bold;
            font-size: 400%;
        };

    </style>

    <h1>WELCOME TO MY PAGE</h1>
